@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">I Matter Counseling and Empowerment Services</h1>
    <p>IMCES <a href="https://imattercounseling.com/">Empowering our Team and our Clients</a>.</p>
</div>
